body{
    
   
    text-align:center;
    color:#40514E;
    font-family: 'Gochi Hand', cursive;
    
   
}
div{
    text-align:center;
    position :relative
}
.top-container{
   
    position:relative; 
    height:100vh;
    background-color:#7FE9DE;
    
}
p{
    line-height:2;
}
.mountain{
    height:500px; 
    width:100%;
}
h1{
    font-size:5 rem;
    margin-top: 5 rem;
    line-height:2 rem;
    color:#66BFBF;

}
span{
    text-decoration: underline;
}
.bottom-container{
    background-color:#7FE9DE;
    margin-top:20px;
    padding:50px 0 20px;
}
.middle-container{
    
    
    padding:50px 0 50px 0;
}
.at{
    color:#EAF6F6;
    font-size: 0.75 rem;
    padding: 20px 0;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size:2.5 rem;
    color:#66BFBF;
    font-weight:normal;
}
.skill-row{
    width:50%;
    margin: 100px auto 100px auto;
  
}
h3{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
   
}
.intro{
    width:35%; 
    margin:auto;
}
.skill{
    width:35%;
    height:200px;
    float:left;
    margin-right:30px;
    
}
.skill2{
    width:35%;
    float:right;
    height:200px;
    margin-left:30px;
}
a{
    color:#11999E;
    margin:20px 40px;
    text-decoration:none;
}
a:hover{
    color:#EAF6F6;
}
p{
    font-family: 'Montserrat', sans-serif;
  
    color:#40514E;
   
  
}
.skill-para{
    font-family: 'Montserrat', sans-serif;
  
    color:#40514E;
    text-align:left;
}
.head{
    position:relative;
    margin: 50px auto 0 auto;
    width:700px;
    height:500px;
}
.profile1{
    height:230px; 
    width:250px;
}
.cloud-1{
    position:absolute; 
    top:20px; 
    
    display:inline-block;
    right:100px;   
}
.cloud-2{
    position:absolute;
    display:inline-block;
    bottom:580px; 
    left:30px;   
}
hr{
   
    width:4%;
    margin:100px auto 100px auto;
    border: 20px dotted #EAF6F6;
    border-bottom:none;
}
.btn {
   border-radius: 8px; 
   background-image:linear-gradient( #11cdd4, #11999e);
   border-width:0px; 
   color:#ffffff;
   font-weight:bold;
   padding:7px;
 }
  
.btn:hover {
   
    background-image:linear-gradient(to top,#30e3cb, #2bc4ad);
 
}
.contact-para{
    width:40%; 
    margin:40px auto 60px;
}
